# Analise de dados das Cotas para Exercício da Atividade Parlamentar dos Senadores (CEAPS)
Cotas para Exercício da Atividade Parlamentar dos Senadores (CEAPS)
link - > https://www12.senado.leg.br/transparencia/dados-abertos-transparencia/dados-abertos-ceaps

In [1]:
#Importar bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [58]:
#Importando o arquivo 
senadores = pd.read_csv('C:/Users/eleni/Documents/2019.csv', sep=';', encoding='latin1', skiprows=1, decimal=',')

In [59]:
#Visualizando o Data Frame
senadores

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582758,04/01/2019,Despesa com pagamento de energia elétrica do e...,66.02
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582755,04/01/2019,Despesa com pagamento de energia elétrica do e...,139.98
2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,00119,07/01/2019,Despesa com pagamento de aluguel de imóvel par...,6000.00
3,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,86161151,25/12/2018,Despesa com pagamento de telefonia para o escr...,316.39
4,2019,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,007236036,04/02/2019,Despesa com pagamento de energia elétrica para...,99.45
...,...,...,...,...,...,...,...,...,...,...
21646,2019,1,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,Azul,O954UL,19/01/2019,"Companhia Aérea: AZUL, Localizador: O954UL. Pa...",769.29
21647,2019,1,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,Azul,G9Z36V,24/01/2019,"Companhia Aérea: AZUL, Localizador: G9Z36V. Pa...",310.62
21648,2019,1,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",07.575.651/0001-59,GOL,WNQI4A,29/01/2019,"Companhia Aérea: GOL, Localizador: WNQI4A. Pas...",1168.10
21649,2019,1,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,NCCPIM,23/01/2019,"Companhia Aérea: LATAM, Localizador: NCCPIM. P...",772.05
21650,2019,1,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,MEYLWB,26/01/2019,"Companhia Aérea: LATAM, Localizador: MEYLWB. P...",1755.17

In [60]:
#Visualizando as 5 primeiras linhas
senadores.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582758,04/01/2019,Despesa com pagamento de energia elétrica do e...,66.02
1,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,006582755,04/01/2019,Despesa com pagamento de energia elétrica do e...,139.98
2,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,00119,07/01/2019,Despesa com pagamento de aluguel de imóvel par...,6000.00
3,2019,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,86161151,25/12/2018,Despesa com pagamento de telefonia para o escr...,316.39
4,2019,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ENERGISA,007236036,04/02/2019,Despesa com pagamento de energia elétrica para...,99.45

In [61]:
#Verificar tamanho e tipo de dados
senadores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21651 entries, 0 to 21650
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                21651 non-null  int64
 1   MES                21651 non-null  int64
 2   SENADOR            21651 non-null  object
 3   TIPO_DESPESA       21651 non-null  object
 4   CNPJ_CPF           21651 non-null  object
 5   FORNECEDOR         21651 non-null  object
 6   DOCUMENTO          20917 non-null  object
 7   DATA               21651 non-null  object
 8   DETALHAMENTO       13104 non-null  object
 9   VALOR_REEMBOLSADO  21651 non-null  float64
dtypes: float64(1), int64(2), object(7)
memory usage: 1.7+ MB

In [62]:
senadores.dtypes

ANO                    int64
MES                    int64
SENADOR               object
TIPO_DESPESA          object
CNPJ_CPF              object
FORNECEDOR            object
DOCUMENTO             object
DATA                  object
DETALHAMENTO          object
VALOR_REEMBOLSADO    float64
dtype: object

In [63]:
#Analise quantitativa dos dados
senadores.describe()

           ANO           MES  VALOR_REEMBOLSADO
count  21651.0  21651.000000       21651.000000
mean    2019.0      6.716179        1167.450921
std        0.0      3.267284        2706.930463
min     2019.0      1.000000           0.010000
25%     2019.0      4.000000         124.050000
50%     2019.0      7.000000         347.680000
75%     2019.0     10.000000        1332.590000
max     2019.0     12.000000       79200.000000

In [65]:
#Total de reembolso
senadores['VALOR_REEMBOLSADO'].sum()

25276479.9

In [67]:
#Reebolsos por cada senador
senadores['SENADOR'].value_counts()

WELLINGTON FAGUNDES    875
HUMBERTO COSTA         631
MAJOR OLIMPIO          606
PAULO PAIM             584
TELMÁRIO MOTA          582
                      ...
MAGNO MALTA              4
HÉLIO JOSÉ               3
JOÃO ALBERTO SOUZA       3
EDISON LOBÃO             2
VICENTINHO ALVES         1
Name: SENADOR, Length: 127, dtype: int64

In [75]:
#Quanto cada senador pediu de reembolso
senadores.groupby('SENADOR')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)

SENADOR
OMAR AZIZ            531315.99
EDUARDO BRAGA        519561.65
PAULO ROCHA          497206.56
TELMÁRIO MOTA        485846.15
MAILZA GOMES         466253.40
                       ...
WALDEMIR MOKA          7096.87
PAULO ALBUQUERQUE      6206.15
SIQUEIRA CAMPOS        5926.99
MAGNO MALTA            4725.79
JOSÉ PIMENTEL          4713.74
Name: VALOR_REEMBOLSADO, Length: 127, dtype: float64

In [76]:
#5 maiores valores de reembolso
senadores.nlargest(5, 'VALOR_REEMBOLSADO')

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
17776,2019,11,ROSE DE FREITAS,"Contratação de consultorias, assessorias, pesq...",05.461.408/0001-84,Grafitusa S/A,000012633,06/11/2019,NaN,79200.0
3634,2019,3,DAVI ALCOLUMBRE,"Locomoção, hospedagem, alimentação, combustíve...",06.180.439/0001-20,AEROTOP TÁXI AÉREO LTDA - EPP,766,12/03/2019,NaN,66730.0
690,2019,12,ANGELO CORONEL,Divulgação da atividade parlamentar,07.344.254/0001-76,Move instalação e agenciamento,257,26/12/2019,Divulgação da Atividade Parlamentar.,65000.0
17875,2019,10,SÉRGIO PETECÃO,"Contratação de consultorias, assessorias, pesq...",22.233.033/0001-14,Reis Grafica e Comercio de Etiquetas Eireli ME,5187,16/10/2019,NaN,57000.0
17883,2019,11,SÉRGIO PETECÃO,"Contratação de consultorias, assessorias, pesq...",22.233.033/0001-14,Reis Grafica e Comercio de Etiquetas Eireli ME,5267,07/11/2019,NaN,57000.0

In [77]:
#5 menores valores de reembolso
senadores.nsmallest(5, 'VALOR_REEMBOLSADO')

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
3301,2019,12,DANIELLA RIBEIRO,"Passagens aéreas, aquáticas e terrestres nacio...",07.575.651/0001-59,GOL,KLR5TJ,30/10/2019,"Companhia Aérea: GOL, Localizador: KLR5TJ. Pas...",0.01
3623,2019,12,DÁRIO BERGER,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,QMFMWB,10/12/2019,"Companhia Aérea: LATAM, Localizador: QMFMWB. P...",0.01
8453,2019,6,JEAN PAUL PRATES,Aquisição de material de consumo para uso no e...,10.562.356/0001-72,METARJ SOLUÇÕES EM GEOTECNOLOGIA E DESENVOLVIM...,025860001,12/06/2019,NaN,0.01
8943,2019,7,JORGINHO MELLO,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,CBUJTW,05/07/2019,"Companhia Aérea: LATAM, Localizador: CBUJTW. P...",0.01
7290,2019,3,IZALCI LUCAS,"Aluguel de imóveis para escritório político, c...",051.907.031-34,DORIVAN MATIAS TELES,025,10/03/2019,NaN,0.03

In [83]:
#Quantidade de reembolso por tipo de dispesa
senadores['TIPO_DESPESA'].value_counts()

Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   8554
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                 5801
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                           4113
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.     1319
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                              982
Divulgação da atividade parlamentar                                                                                                                                                                 860
Serviços de Segurança Privada                                                                                                                                                                        22
Name: TIPO_DESPESA, dtype: int64

In [85]:
# Quais são os valores totais de reembolso por tipo de despesa?
senadores.groupby('TIPO_DESPESA')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)

TIPO_DESPESA
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                 7442414.26
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                             5935522.01
Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   4451890.48
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                           4188629.42
Divulgação da atividade parlamentar                                                                                                                                                                2344364.06
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.      871789.08
Serviços de Segurança Privada                                                                                                                                                                        41870.59
Name: VALOR_REEMBOLSADO, dtype: float64